DB_HOST=postgres
DB_PORT=5432
DB_NAME=agendamento_db
DB_USER=postgres
DB_PASSWORD=postgres123

JWT_SECRET=supersecretjwtkey2024
JWT_EXPIRES_IN=1d

PORT=3000
NODE_ENV=development

# Senha do PostgreSQL usada pelo docker-compose (deve ser igual a DB_PASSWORD)
POSTGRES_PASSWORD=postgres123
